nav.navbar.navbar-default {
    min-height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    background-color: #56BDDE;

}
#navBar{

    padding-top: 35px;
    padding-left: 10px;

}


.navbar-nav a{
    color: #f8f8f8 !important;
}

.navbar-brand{

    color: #f8f8f8 !important;
}

#navbarRight{

    margin-right: 20px;
}

ul.nav a:hover { color: #eee8ec !important; }
.navbar-default .navbar-nav > .active{
    color: #000;
    background: #53afcf;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #53afcf;
}
